*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    border: solid black 1px;
}

.selected {
    display: flex;
    padding: 1.2rem;
    font-family: 'Catamaran', 'Arial', sans-serif;
    font-size: 1.9rem;
    border: solid 1px rgba(251, 242, 234, 0.1);
    color: gray;
    cursor: pointer;
}

.selected .acronym {
    width: 5.5rem;
    color: #c29b69;
}

.selected::after {
    content: "";
    background: url("/svg/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 22%;
    width: 3.2rem;
    top: 2rem;
    right: 2rem;
    transform: rotateX(180deg);
}